*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
.container{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  
  
}
.display{
  
  padding: 12px;
  margin-bottom: 8px;
  color: white;
  background-color: rgb(64, 59, 59);
  border-radius: 5px;

  
}
.calc{
  width: 350px;
  height: 385px;
  background-color: black;
  border-radius: 15px;
  
  

  
}
button{
  width: 75px;
  padding: 10px;
  border-radius: 50px;
  font-size: 25px;
  color: white;
  background-color: rgb(64, 59, 59);
  margin: 5px;
  border: none;
}
.button:hover{
  background-color: rgb(98, 94, 94);
}
h2{
  text-align: center;
  margin-bottom: 35px;
  color: red;
}
.btn_equal .equal{
  width: 240px;
  background-color: rgb(189, 46, 46);
  color: rgb(202, 202, 229);
  font-size: 30px;
}
.operator{
  background-color: rgb(189, 46, 46);
  color: rgb(216, 218, 227);
  font-weight:bolder;
}




